body {
  margin: 0;
  font-family: "Apercu Arabic Pro", sans-serif;
}

@font-face {
  font-family: "Apercu Arabic Pro";
  src: local("Apercu Arabic Pro Regular"), local("Apercu-Arabic-Pro-Regular"),
    url("./fonts/ApercuArabicPro-Regular.woff2") format("woff2"),
    url("./fonts/ApercuArabicPro-Regular.woff") format("woff"),
    url("./fonts/ApercuArabicPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
/* reset */
h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-style: initial;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}
